<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://france3-regions.francetvinfo.fr/image/8GKBJT1B2pqwW5PxhUc5JMpEo9k/930x620/regions/2020/11/20/5fb7cb8311474_cinema-les_arts-7-5089012.jpg" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= lists_path %>">My Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_list_path %>">New list</a>
      </li>
    </ul>
  </div>
</div>
